RewriteEngine on
RewriteCond %{HTTP_HOST} ^adviceslip.infinityfreeapp.com$ [NC,OR]
RewriteCond %{HTTP_HOST} ^adviceslip.infinityfreeapp.com$
RewriteCond %{REQUEST_URI} !public/
RewriteRule (.*) /public/$1 [L]
